<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Fitbot!</h1>
    <div id="chat_history">
        {% for message in messages %}
            <p><strong>{{ message['role'] }}:</strong><br>{{ message['content'] }}</p>
        {% endfor %}
    </div>
    <input type="text" id="user_input" required>
    <button type="button" onclick="sendMessage()">Send</button>
    <div id="waiting_message">Wait..</div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
